.table.cellWrapper {

    display: flex;
    align-items: center;
}

.productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}


.cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

}

.cellAction.viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
}

.cellAction.viewButton.deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);
    cursor: pointer;
}